@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
    background-color: gray ;
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}

@media (max-width: 650px) {
  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
  nav li {
    padding-bottom: 5px;
  }
}

#submit{
    color: rgb(0, 0, 0);
    background: rgb(249, 249, 249);
    border-radius: 7px;
    font-size: 15px;
   
}

#email{
    font-size: 18px;
    border-radius: 10px;
    width: 300px;
}

#header{
    text-align: center;
    
}

#nav-bar{
    background-color: rgb(46, 46, 46);
    
}


#nav-bar .nav-link{
    color: #ffa;
    text-shadow: 0 0 30px #fff;
}
#nav-bar .nav-link:hover{
    background-color: indigo;
    color: lawngreen;
   
}
